
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Đơn mua</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Giới thiệu</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" style="height:300px" >
    <div class="d-flex justify-content-center align-items-center w-100 h-100 h2"><i class="fas fa-screwdriver-wrench"></i>&ensp; Đang bảo trì...</div>
</div>
