@model SellingBags.Areas.Admin.Models.ViewModel.BrandVM
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <h1 class="h3 text-gray-800">Thêm mới</h1>
            <div>
                <h4 class="text-success justify-content-center">@ViewBag.Success</h4>
                <h4 class="text-danger justify-content-center">@ViewBag.Error</h4>
            </div>
        </div>
    </div>
    @*<form id="CreateForm" method="post" enctype="multipart/form-data">*@

    @using (Html.BeginForm("Create", "BrandManage", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        <div id="formInfo" class="">

            <div class="row">
                <div class="col-3"></div>
                <div class="col-6">
                    <div class="mb-3">
                        <label for="Name">Tên thương hiệu:</label>
                        <input type="text" class="form-control" id="Name" name="Name" placeholder="" value="@Model.Name">
                    </div>
                    
                    <div class="row">
                        <div id="previewContainer" class="col-6 mb-3" style="display: none">
                            <img id="previewImage" name="" src="" alt="" width="200" value="" />
                        </div>
                        <div class="col-6 mb-3 ">
                            <label for="ImageURL">Ảnh</label>
                            <input type="file" class="form-control mb-1" id="ImageFile" name="ImageFile" value="" required>
                        </div>
                    </div>
                    <hr />
                    <div class="mb-3">
                        <div class="">
                            <button type="submit" class="btn btn-success w-100">Thêm mới</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    }
    @*</form>*@
</div>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        var inputElement = document.getElementById('ImageFile');
        inputElement.addEventListener('change', function () {
            previewImage(this);
        });
    });


    function previewImage(input) {
        var previewContainer = document.getElementById('previewContainer');
        var previewImage = document.getElementById('previewImage');

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                previewImage.src = e.target.result;
                previewContainer.style.display = 'block';
            };

            reader.readAsDataURL(input.files[0]);
        } else {
            previewImage.src = '';
            previewContainer.style.display = 'none';
        }
    }
</script>

