@model SellingBags.Areas.Admin.Models.ViewModel.OrderVM

@using SellingBags.Common
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h5 class="m-0 font-weight-bold">Tất cả đơn hàng</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3 col-6">
                    <label>Lọc</label>
                    <select id="filterSelect" class="custom-select form-control-sm mb-3">
                        <option value="">Tất cả</option>
                        <option value="wait">Chờ xác nhận</option>
                        <option value="ship">Đang vận chuyển</option>
                        <option value="done">Đã hoàn thành</option>
                        <option value="cancel">Đã hủy</option>
                    </select>
                </div>
            </div>
            <div id="table" class="table-responsive">
                @Html.Partial("_OrdersPartial",Model.Orders)
                
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#filterSelect').change(function () {
            var sort = $(this).val();
            console.log(sort);
            $.ajax({
                url: '@Url.Action("FilterOrders", "OrderManage")',
                type: 'GET',
                data: { sort: sort },
                success: function(result) {
                    $('#table').html(result);
                },
                error: function(xhr, status, error) {
                    console.error('Error applying filter:', error);
                    alert('An error occurred while applying filter.');
                }
            });
        });
    });
</script>
